.buttonS{
    transition-duration: 0.4s;
    background-color: rgba(252,81,133,1);
    border-style: dashed;
    border-width: 0.25vw;
    color: rgba(255, 255, 255, 1);
    border-color: rgba(63,193,201,1);
    border-radius: 0.4vw;
    margin-left: 50%;
}

.buttonS:hover {
    border-color: rgba(252,81,133,1);
    background-color: rgba(63,193,201,1);
}

.bg{
    background: rgb(63,193,201);
    background: linear-gradient(225deg, rgba(63,193,201,1) 0%, rgba(252,81,133,1) 100%);
    color:white;
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.carousel-inner{
   
    height:100%;
    width:100%;
}
.carousel-item{
    height: 100%;
        
}
.item{
    height:100%;
    flex-direction: column;
    display: flex;
    align-items:center;
    justify-content: center;
    
}
.slide{
    width:100%;
}

.carousel-control-next-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important;
}

.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e") !important;
}

.helperDisplay{
    width: 60%;
    height: 80%;
    color: black;
    text-align: start;
    background-color: whitesmoke;
    border: 5px solid pink;
    border-radius: 20px;
}

.carousel-indicators li {
    background-color: black;
}

.carousel-indicators{
    justify-self: flex-end;
}