#overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6fr 1.5fr;
    grid-gap: 5px;
    background-color: black;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}
#beneficiar{
    display:grid;
    background: linear-gradient(-45deg, #b4877d, #d37297, #7ebfd6, #73c040);
	background-size: 100% 100%;
	animation: gradient 15s ease infinite;
    padding: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#binefacator{
    display:grid;
    background: linear-gradient(-45deg,#73c040, #7ebfd6,  #d37297,#b4877d);
    padding: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.button {
	box-shadow: 3px 4px 0px 0px #022647;
	background:linear-gradient(to bottom, #276f72 5%, #1a5475 100%);
	background-color:rgb(15, 57, 68);
	border-radius:18px;
	border:1px solid rgb(3,133,165);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px rgb(3,133,165);
}
.button:hover {
	background:linear-gradient(to bottom, #21158fb0 5%, #0d5883 100%);
	background-color:rgb(3, 11, 14);
}
.button:active {
	position:relative;
	top:1px;
}

#historyhelped{
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: center;
}

#historyhelping{
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: center;
}

.graficHome{
    grid-column-start: 1;
    grid-column-end: 3;
    background:linear-gradient(-45deg, #ddd6d5, #cc86a1, #d7e5eb, #353634);
}

#refresh{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}


@media screen and (max-width: 430px){

    .button {
        box-shadow: 3px 4px 0px 0px #8a2a21;
        background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
        background-color:#c62d1f;
        border-radius:18px;
        border:1px solid #d02718;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        padding:7px 25px;
        text-decoration:none;
        text-shadow:0px 1px 0px #810e05;
    }
    .button:hover {
        background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
        background-color:#f24437;
    }
    .button:active {
        position:relative;
        top:1px;
    }


}
