#paginaMotivation{
  background-color: brown;
  border: 10px solid;
  border-color: aqua;
}

#articoleMotivation{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  border: 10px solid;
  border-color: brown;
}

#title{
  text-align: center;
}

#unu{
  display:grid;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgb(0, 0, 255, 0.70);
}

#doi{
  display:grid;
  text-align: center;
  background-color: rgb(7, 212, 7, 0.70);
}

#trei{
  display:grid;
  text-align: center;
  background-color: rgb(255, 0, 0, 0.70);
}

#patru{
  display:grid;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgb(178, 8, 221, 0.70);
}

@media screen and (max-width: 500px){
  #articoleMotivation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    border: 10px solid;
    border-color: brown;
  }
}