h1{
    text-decoration: underline;
    text-decoration-color: #fc5185;
}

.wrapper1{
    background-color: #36506b;
    color: #F5F5F5;
    border-bottom: solid 5px #fc5185; 
    min-height: 100vh;
}

.QA{
    text-align: center;
    left: 0;
}

.answer{
    text-align:center;
}