.Hamburger {
    font-family: sans-serif;
    /* Give app full page to work with */
    height: 100vh;
  }
  
#page-wrap {
    text-align: center !important;

    /* Prevent sidebar from showing a scrollbar on page */
    overflow: auto;
  }