body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:10vh;  
}
* {
  box-sizing: border-box;
}